body{
    width: 76%;
    margin: auto;
}
.logo{
    display: flex;
}

@font-face {
    font-family: 'FuturaCyrillicMedium'; /* Choose a name for your font */
    src: url('FuturaCyrillicMedium.ttf') format('truetype'); /* Replace 'path-to-your-font-file.ttf' with the actual path to your font file */
}
@font-face {
    font-family: 'FuturaCyrillicBook'; /* Choose a name for your font */
    src: url('FuturaCyrillicBook.ttf') format('truetype'); /* Replace 'path-to-your-font-file.ttf' with the actual path to your font file */
}
@font-face {
    font-family: 'aksarabaligalang-regular'; /* Choose a name for your font */
    src: url('aksarabaligalang-regular.ttf') format('truetype'); /* Replace 'path-to-your-font-file.ttf' with the actual path to your font file */
}
@font-face {
    font-family: 'Aksara\ Bali\ Galang.woff'; /* Choose a name for your font */
    src: url('Aksara\ Bali\ Galang.woff.ttf') format('truetype'); /* Replace 'path-to-your-font-file.ttf' with the actual path to your font file */
}

.logo img{
    width: 81px;
    height: 80px;
    position: relative;
    top: 24px;
}
.logo h1{
font-family: 'FuturaCyrillicMedium';
font-weight: 800;
position: relative;
top: 10px;
color: #131821;
font-size: 38px;
margin-left: 15px;
}
.nav-head{
    display: flex;
}
.menu{
    display: flex;
    margin-left: 100px;
    padding: 10px;
    position: relative;
    top: 20px;
    
}
.menu li{
    list-style-type: none;
    padding-left: 45px;
    font-family: "FuturaCyrillicBook";
    font-size: 24px;
}
.menu li a{
    text-decoration: none;
    color: #131821;
}
.signin{
  margin-left: 170px;
  padding: 12px 25px 23px 25px;
  width: 111px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(90deg, #5680E9 0%, #4D47C8 100%);
  color: bisque !important;
}
.headpara{
    max-width: 60%;
    margin: auto;
}
.headpara h1{
 font-size: 64px;
 text-align: center;
 font-family: "FuturaCyrillicBook";
}
.headpara p{
    text-align: center;
    font-size: 24px;
    color: #4C586F;
    font-family: "FuturaCyrillicBook";
}
.btn-02{
  padding: 12px 25px 23px 25px;
  width: 250px;
  height: 60px;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #5680E9 0%, #4D47C8 100%);
  color: bisque;
  margin-left: 200px;
  cursor: pointer;
}

.parent-sec{
    display: flex;
    gap: 30px;
}

.section-01{
    width: 733px;
    height: 1338px;
}
.img-pos{
    position: relative;
}
.img-02{
    position: absolute;
    top: 40%;
    right: 40%;
}
.section-01 h1{
font-size: 48px;
width: 725px;
height: 120px;
font-family: "FuturaCyrillicBook";
}
.section-01 p{
    font-family: "Aksara\ Bali\ Galang.woff";
    line-height: 32px;
    font-size: 22px;
}
.btn-03{
    padding: 12px 25px 40px 25px;
    width: 104px;
    height: 48px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #5680E9 0%, #4D47C8 100%);
    color: bisque;
    margin-left: 300px;
    cursor: pointer;
  }

.section-02{
    max-width: 315px;
    height: 1118px;
}
.section-02 img{
    width: 310px;
}
.btn-04{
    padding: 12px 25px 40px 25px;
    width: 104px;
    height: 48px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #5680E9 0%, #4D47C8 100%);
    color: bisque;
    right: 0%;
    cursor: pointer;
    margin: 50px 0 115px 200px;
  }
.section-02 p{
    font-size: 24px;
    font-family: "Aksara\ Bali\ Galang.woff";
    line-height: 32px;
}
.parent-sec02{
    margin: 300px 0 100px 0;
       
}
.part01{
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}
.part01 .text{
    width: 540px;
    height: 318px;
}
.text h4{
    font-size: 24px;
}
.text p{
    font-size: 22px;
}
.part01 img{
    width: 502px;
    height: 398px;
}


.part02{
    display: flex;  
    gap: 70px;
    margin-bottom: 80px;
}
.part02 .text{
    width: 500px;
    height: 318px;
}
 .text h4{
    font-size: 24px;
}
.text p{
    font-size: 22px;
}
.part02 img{
    width: 502px;
    height: 398px;
} 

.call-to-action{
    width: 1110px;
    height: 284px;
    border-radius: 30px;
    background: #5680E9;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    position: relative;
}

/* .call-to-action .img1{
  width: 1200px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: -25%;
  left: -30%;
  z-index: 0;
} */
.call-to-action h2{
    font-size: 32px;
    color: #FFFFFF;
    z-index: 1;
    width: 400px;
    position: absolute;
    left: 20%;
    top: 23%;

}

.call-to-action .img1{
    height: 200px;
    width: 200px;
    position: absolute;
    top: -10%;
    left: -5%;
}
.call-to-action .img2{
    height: 100px;
    width: 100px;
    position: absolute;
    top: -10%;
    left: 50%;
}
.call-to-action .img3{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 70%;
}
.call-to-action .img4{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 10%;
    right: 5%;
}

.call-to-action button{
    padding: 12px 25px 40px 25px;
    width: 200px;
    height: 48px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    background: #FFFFFF;
  color:#5680E9;
    right: 0%;
    cursor: pointer;
    margin: 50px 0 115px 200px;
    position: relative;
    left: 50%;
    top: 20%;
}
.testimonial{
    width: 1110px;
    height: 731px;
    background: #ecedf0;
    border-radius: 4%;
    padding: 30px;
}
.testimonial h1{
    text-align: center;
}
.testimonial .reviews{
    display: flex;
    gap: 30px;
    padding: 50px;
}
.testimonial h3{
    font-size: 24px;
}
.testimonial p{
    font-size: 22px;
}

.review1{
    width: 448px;
    height: 350px;
    background: #fdfdfd;
    border-radius: 35px;
    padding: 20px;
}
.stars{
    display: flex;
}
.stars img{
   height: 24px;
   width: 24px;
}
.character{
    display: flex;
}
.character h5{
    font-size: 18px;
    margin-left: 30px;
}
.arrow{
    width: 42px;
    height: 42px;
    margin-top: 170px;
}
.dots{
   display: flex;
   gap: 5px;
   justify-content: center;
}
.clickondot{
    cursor: pointer;
}
footer{
    height: 259px;
    display: flex;
    gap: 15rem;
}
.iconic{
    margin-top: 35px;
}
.social-icons{
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
}
.footer-menu1 h5 a {
    font-size: 22px;
    text-decoration: none;
    color: #131821;
}
.footer-menu1 p a{
    font-size: 20px;
    text-decoration: none;
    color: #131821;
}